@model Filminurk.Models.Movies.MoviesDeleteViewModel

<h1>Kustuta Film</h1>

<div>

	<h4>Film</h4>
	<hr />
	<dl class="row"></dl>
	 <div class="form-group-row">
		 <label asp-for="ID" class="col-sm-2" col-form-label""></label>
		 @Html.DisplayFor(model=>model.ID)
	</div>
	<dl class="row"></dl>
	<div class="form-group-row">
		<label asp-for="Title" class="col-sm-2" col-form-label""></label>
		@Html.DisplayFor(model => model.Title)
	</div>
	<dl class="row"></dl>
	<div class="form-group-row">
		<label asp-for="Description" class="col-sm-2" col-form-label""></label>
		@Html.DisplayFor(model => model.Description)
	</div>
	<dl class="row"></dl>
	<div class="form-group-row">
		<label asp-for="FirstPublished" class="col-sm-2" col-form-label""></label>
		@Html.DisplayFor(model => model.FirstPublished)
	</div>
	<dl class="row"></dl>
	<div class="form-group-row">
		<label asp-for="Director" class="col-sm-2" col-form-label""></label>
		@Html.DisplayFor(model => model.Director)
	</div>
	<dl class="row"></dl>
	<div class="form-group-row">
		<label asp-for="CurrentRating" class="col-sm-2" col-form-label""></label>
		@Html.DisplayFor(model => model.CurrentRating)
	</div>
	<dl class="row"></dl>
	<div class="form-group-row">
		<label asp-for="Profit" class="col-sm-2" col-form-label""></label>
		@Html.DisplayFor(model => model.Profit)
	</div>
	<dl class="row"></dl>
	<div class="form-group-row">
		<label asp-for="Awards" class="col-sm-2" col-form-label""></label>
		@Html.DisplayFor(model => model.Awards)
	</div>
	<hr />
	<form asp-action="DeleteConfirmation">
		<input type="hidden" asp-for="ID" />
		<input type="submit" value="Remove" class="btn btn danger"/>
		<a asp-action="Index" asp-controller="Movies" class="btn btn-success">Return to list</a>
	</form>
</div>